* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #081b31;
    color: #fff;
    text-align: center;
    line-height: 5rem;
}

.choice {
    height: 160px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.choice:hover {
    cursor: pointer;
    background-color: black;
}

img {
    height: 153px;
    width: 153px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score_board {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
    font-size: 2rem;
}

#user_score,
#com_score {
    font-size: 4rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 2rem;
}

.msg_container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}